<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <title>Weather app | Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
</head>
<body>
    <div class="mainContent">
        {{>header}}
        <h2>temperature is 15 degree Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. Accusamus optio dicta 
            tempora quam hic totam, culpa pariatur quasi vero repellat.
             Earum praesentium dolorum culpa voluptatibus quia laboriosam, 
            consectetur necessitatibus mollitia.</h2>
    </div>
    
    {{>footer}}
</body>
</html>